<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem dos animais</title>
</head>
<body>
    <h1>Listagem de animais</h1>
    <p>
        <a href="/animal/add">Adicionar</a>
    </p>
    <form method="post">
        <input type="text" name="pesquisar">
        <input type="submit" value="Pesquisar">
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Especie</th>
            <th>Peso</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        <% Animais.forEach((animal)=>{ %>
        <tr>
            <td><%=animal.id%></td>
            <td><%=animal.nome%></td>
            <td><%=animal.especie%></td>
            <td><%=animal.peso%></td>
            <td>
                <img src="/fotos/<%=animal.foto%>" 
                    width="80px" alt="foto do usuário">
            </td>
            <td>
                <a href="/animal/edt/<%=animal.id%>">Editar</a>
            </td>
            <td>
                <a href="/animal/del/<%=animal.id%>">Deletar</a>
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>